
.footer-main {
    color: #FFFFFF;
    background-color: #0E5B83;
    padding-top: 40px;
    text-align: center;

}


.footer-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-conteudo h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-conteudo p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.social-list{
    list-style: none ;

    display: flex;
    align-items: center;
    letter-spacing: 10px;
    margin: 1.5rem;
}
