.footer-main {
    color: #FFFFFF;
    background-color: #0E5B83;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
};

.texto {
    position: absolute;
    left: 34.06%;
    right: 33.71%;
    top: 12.24%;
    bottom: 70.31%;

    font-family: "Questrial";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 37px;
    letter-spacing: 0.245em;

    color: #FFFFFF;
};