
.footer-main {
    color: #FFFFFF;
    background-color: #0E5B83;
    padding: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;

}


.footer-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-conteudo h5{
    font-size: 1rem;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 1rem;
}

.footer-conteudo p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
    color: #cacdd2;
}

.social-list{
    list-style: none ;
    
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    margin: 1rem;
    
    line-height: 30px;
    word-spacing: 50px;
}
